.card-wrapper {
    margin-bottom: 20px;
}

.task-state{
    padding: 5px;
}

.task-delete {
    background-color: orangered;
    padding: 5px;
}

.true{
    background-color: lightgreen;
}

.false {
    background-color: yellow;
}